@media screen and (max-width:1400px) {
	
}

@media screen and (max-width:1200px) {
	
}

@media screen and (max-width:992px) {

	.nav__logo {
		font-size: 5rem;
	}

	.menu__item {
		margin-left: 2rem;
	}
}

@media screen and (max-width:768px) {
	.menu {
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: var(--section-bg-color);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 200ms ease-in;
		height: 0;
		overflow: hidden;
	}

	.menu--mobile-open {
		height: 33rem;
	}

	.menu__item {
		margin-left: 0;
		margin-bottom: 2rem;
	}

	.menu__item:first-child{
		margin-top: 2rem;
	}

	.menu__mobile-icon {
		display: flex;
	}

	.cover {
		width: 100%;
		height: 100%;
		background-color:rgba(0, 0, 0, 0.05);
		position: fixed;
		top: 0;
		right: 0;
		z-index: -1;
		opacity: 0;
		transition: all 200ms ease-in;
	}
	
	.cover--show {
		z-index: 99;
		opacity: 1;
	}
}

@media screen and (max-width:576px) {

}